In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("/home/lyrax/matplotlib-dracula/dracula.mplstyle")
import seaborn as sns

from tqdm import tqdm, trange

In [4]:
data = pd.read_csv("data/data_clean.csv", parse_dates=['participant_date_of_birth', 'treatment_created_date',
                                                       'claim_finalized_date'])
data.head(3)

,Serial Number,claim_status,provider_type,provider_region,program_cover,participant_date_of_birth,participant_gender,treatment_created_date,claim_finalized_date,item_status,item_name,item_amount,item_quantity,total_item_amount,diagnoses
0,162967.0,Approved,Specialist,NAIROBI,DENTAL,1987-12-19,FEMALE,2021-01-19 10:45:21,2021-01-19 22:38:08,APPROVED,Simple Extraction Permanent,3000.0,1,3000.0,Dental caries
1,162967.0,Approved,Specialist,NAIROBI,DENTAL,1987-12-19,FEMALE,2021-01-19 10:45:21,2021-01-19 22:38:08,APPROVED,Dental Consultation,1500.0,1,1500.0,Dental caries
2,164883.0,Approved,Specialist,NAIROBI,DENTAL,1977-01-01,FEMALE,2021-01-22 10:49:08,2021-01-28 10:48:12,APPROVED,Dental consultation,1500.0,1,1500.0,Dental caries

In [8]:
# new features from dates
data['participant_yearOB'] = data.participant_date_of_birth.dt.year.astype(int)
data['participant_monthOB'] = data.participant_date_of_birth.dt.month.astype(int)
data['participant_dayOB'] = data.participant_date_of_birth.dt.day.astype(int)

data['treat_cr_year'] = data.treatment_created_date.dt.year.astype(int)
data['treat_cr_month'] = data.treatment_created_date.dt.month.astype(int)
data['treat_cr_day'] = data.treatment_created_date.dt.day.astype(int)
data['treat_cr_weekday'] = pd.Series(data.treatment_created_date.dt.weekday).apply(lambda x: 1 if x<5 else 0).astype(int)

data['claim_final_year'] = data.claim_finalized_date.dt.year.astype(int)
data['claim_final_month'] = data.claim_finalized_date.dt.month.astype(int)
data['claim_final_day'] = data.claim_finalized_date.dt.day.astype(int)
data['claim_final_weekday'] = pd.Series(data.claim_finalized_date.dt.weekday).apply(lambda x: 1 if x<5 else 0).astype(int)

data.sample(3)

,Serial Number,claim_status,provider_type,provider_region,program_cover,participant_date_of_birth,participant_gender,treatment_created_date,claim_finalized_date,item_status,...,participant_monthOB,participant_dayOB,treat_cr_year,treat_cr_month,treat_cr_day,treat_cr_weekday,claim_final_year,claim_final_month,claim_final_day,claim_final_weekday
22058,178850.0,Not Approved,Clinic,MOMBASA,OUTPATIENT,1988-08-18,MALE,2021-02-11 07:16:02,2021-02-11 07:16:02,SUBMITTED,...,8,18,2021,2,11,1,2021,2,11,1
97957,163935.0,Approved,unknown,EMBU,OUTPATIENT,1986-11-28,FEMALE,2021-01-20 07:34:21,2021-01-21 09:17:18,APPROVED,...,11,28,2021,1,20,1,2021,1,21,1
48211,172614.0,Approved,Clinic,KISUMU,OUTPATIENT,2016-11-09,FEMALE,2021-02-04 08:16:36,2021-02-08 12:44:06,APPROVED,...,11,9,2021,2,4,1,2021,2,8,1

In [14]:
# days from treatment creation to claim finalization
(data.claim_finalized_date - data.treatment_created_date).dt.days

0         0
1         0
2         5
3         5
4         5
         ..
167167    0
167168    0
167169    0
167170    0
167171    0
Length: 167172, dtype: int64